/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	vertical-align: baseline;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(163, 163, 163);
	padding: 10px 28px;
}

.main-action {
	text-decoration: none;
	color: black;
}

.main-action:hover {
	color: red;
}

#logo {
	width: 140px;
}

#input-film {
	margin-left: 10px;
	margin-right: 30px;
	padding: 8px 25px;
	background-color: rgb(163, 163, 163);
	border-color: black;
}

.carregar {
	display: flex;
	justify-content: right;
}

.botao-carregar {
	transition: 0.2s;
	background-color: #6d6d6d;
	border-radius: 5px;
	color: white;
	padding: 6px;
}

.botao-carregar:hover {
	cursor: pointer;
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

#lancamentos {
	background-color: rgb(218, 218, 218);
}

#lancamentos .header-lancamentos {
	text-align: center;
	padding-top: 10px;
}

#lancamentos .container-lancamentos {
	display: flex;
	justify-content: space-around;
	padding: 40px;
}

#lancamentos .container-lancamentos img {
	margin-right: 26px;
}

#emDestaque {
	padding: 20px 100px;
}

#emDestaque header {
	display: flex;
	justify-content: space-between;
}

#emDestaque .filmesDestaque {
	display: flex;
	justify-content: space-between;
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 20px 0px;
}

#emDestaque .filmesDestaque img {
	margin-right: 20px;
	margin-bottom: 10px;

	transition: transform 100ms ease-in-out;
}

#emDestaque .filmesDestaque img:hover {
	transform: scale(1.05);
}

#ultimasAvaliacoes {
	background-color: #fff;
	padding: 20px 100px;
}

#ultimasAvaliacoes .cards {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

#ultimasAvaliacoes .card {
	display: flex;
	width: 30%;
	gap: 15px;
}

#ultimasAvaliacoes .card img {
	border-radius: 50%;
}

#ultimasAvaliacoes .card p {
	text-align: justify;
}

#makingof {
	background-color: rgb(218, 218, 218);
	padding: 20px 100px;
}

#makingof .cards-videos {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

#novidades {
	display: flex;
	padding: 20px 100px;
	background-color: white;
}

#novidades .avaliacao:last-child {
	border: 0;
}

#novidades .avaliacao {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px;
	border-color: #6d6d6d;
}

#novidades .avaliacao div {
	padding-left: 20px;
}

#novidades .av-card img {
	background-color: rgb(218, 218, 218);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 200px;
}

#novidades .sobre {
	width: 75%;
	padding-left: 20px;
}

#novidades .topic {
	display: flex;
	align-items: center;
}

#novidades .sobre .topic {
	margin: 20px 0px;
}

#novidades .sobre .topic img {
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

#tags p {
	display: inline-block;
	background-color: #6d6d6d;
	border-radius: 25px;
	padding: 5px 40px 5px 40px;
	margin-top: 40px;
	color: #fff;
}

.img-editorial {
	border-radius: 100%;
}

footer {
	background-color: rgb(218, 218, 218);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
}

@media (max-width: 400px) {
	#novidades {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0;
	}
	.container-novidades div {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.avaliacao div {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.sobre {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.avaliacao #tags p {
		display: block;
		justify-content: center;
	}
}
